<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ziyad's Profile</title>
    <link rel="icon" href="https://raw.githubusercontent.com/mziyadam/Beranda/master/profildiri.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<style>
    .text-justify {
        text-align: justify
    }

    .limit-logo-size {
        max-height: 120px;
    }

    .limit-logo-size-bigger {
        max-height: 240px;
    }

    .black {
        color: black;
    }

    .decor-none {
        text-decoration: none;
    }

    .slide-fade-enter-active {
        transition: all 0.1s ease-out;
    }

    .slide-fade-leave-active {
        transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
    }

    ul {
        list-style-type: square;
    }

    .slide-fade-enter-from,
    .slide-fade-leave-to {
        transform: translateY(20px);
        opacity: 0;
    }
</style>
<script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
<!--https://colorhunt.co/palette/f9f3dfcdf2caffdefaffc898-->
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><b>{{profile.username}}</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a @click="type='Home'" :class="['nav-link',type==='Home'? 'active':'']" aria-current="page"
                            href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a @click="type='About'" :class="['nav-link',type==='About'? 'active':'']" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a @click="type='Projects'" :class="['nav-link',type==='Projects'? 'active':'']"
                            href="#">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a @click="type='Contact'" :class="['nav-link',type==='Contact'? 'active':'']"
                            href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" :href="''+profile.linkedinUrl"><i
                                class="bi bi-linkedin"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" :href="''+profile.githubUrl"><i
                                class="bi bi-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" :href="''+profile.mediumUrl"><i
                                class="bi bi-medium"></i></a>
                    </li>
                </ul>
                <!-- <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </nav>
    <div class="container text-center align-middle pt-3 pb-3">
        <Transition name="slide-fade">
            <div class="" v-if="type === 'Home'">
                <img src="me.png" alt="my photo" class="rounded-circle border border-info w-25 m-3" srcset="">
                <h1>I'm {{profile.name}}</h1>
                <p>{{profile.bio}}</p>
                <hr>
                <h3>Areas of Interest</h3>
                <p>Take a look at some of the things I'm interested in</p>
                <div class="row">
                    <div class="col-md-3" v-for="item in areasOfInterest">
                        <img class="img-fluid limit-logo-size p-4" v-bind:src="'icon/'+item.icon" alt="">
                        <h5>{{item.name}}</h5>
                    </div>
                </div>
            </div>
            <div v-else-if="type === 'About'">
                <h1>About</h1>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <img src="me.png" alt="my photo" class="rounded-circle border border-info w-75 m-3" srcset="">
                    </div>
                    <div class="col-md-9 d-flex align-items-center">
                        <div class="text-justify">
                            <h2>My name is {{profile.name}}</h2>
                            <p>People usually call me Ziyad. I'm a passionate, adaptive, and hard-working person.
                                Interested
                                in Mobile Development, and other technologies such as Web Development. Had been
                                building
                                and working with personal projects to learn many things.
                                A Google Certified Associate Android Developer.</p>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Education</h3>
                <div class="row">
                    <div v-for="item in profile.educations">
                        <img class="img-fluid limit-logo-size-bigger p-4" v-bind:src="'icon/'+item.icon" alt="">
                        <h5>{{item.name}}</h5>
                        <p>{{item.description}}</p>
                    </div>
                </div>
                <hr>
                <h3>Some of the unique things about me</h3>
                <p class="text-justify">{{profile.aboutMe}}</p>
            </div>
            <div v-else-if="type === 'Projects'">
                <h1>Projects</h1>
                <div class="row" v-for="project in projects">
                    <hr>
                    <div class="col-md-6">
                        <div class=" mt-3 ms-5">
                            <div :id="'carouselExampleDark'+project.id" class="carousel carousel-dark slide"
                                data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" v-for="image in project.images"
                                        @click="project.selectedImage=image.id"
                                        :data-bs-target="'#carouselExampleDark'+project.id"
                                        :data-bs-slide-to="''+image.id"
                                        :class="[project.selectedImage===image.id? 'active':'']" aria-current="true"
                                        :aria-label="'Slide'+ (image.id+1)"
                                        style="position: relative; bottom: -50px;"></button>
                                </div>
                                <div class="carousel-inner ">
                                    <div :class="['carousel-item', project.selectedImage===image.id? 'active':'']"
                                        v-for="image in project.images" data-bs-interval="10000">
                                        <img :src="''+image.imageUrl" class="d-block img-fluid m-auto"
                                            style="max-height: 360px;" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    :data-bs-target="'#carouselExampleDark'+project.id" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    :data-bs-target="'#carouselExampleDark'+project.id" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <br>
                            <a :href="''+project.url" class="decor-none black">
                                <button type="button" class="mt-3 mb-3 btn btn-info active" style="width: 100%">
                                    {{project.name}}
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 text-start">
                        <h4 class="text-center">
                            {{project.title}}
                        </h4>
                        <br>
                        <p><b>Role: </b>{{project.role}}</p>
                        <b>Tasks:</b>
                        <ul>
                            <li v-for="task in project.tasks">{{task}}</li>
                        </ul>
                    </div>
                </div>
                <hr>
                <a :href="''+profile.githubUrl" class="decor-none">
                    <button type="button" class="mt-3 mb-3 btn btn-info active" style="width: 100%">
                        See also my Github profile here
                    </button>
                </a>
            </div>
            <div v-else>
                <h1>Contact</h1>
                <hr>
                <div class="row text-start">
                    <div class="col-md-8">
                        <h5>I'd <b>love</b> to hear from you.</h5>
                        <form action="mailto:mziyad195@gmail.com" method="post" enctype="text/plain">
                            <div class="row">
                                <div class="col">
                                    <label for="inputName">Name</label>
                                    <input id="inputName" name="name" type="text" class="form-control"
                                        placeholder="Your name">
                                </div>
                                <div class="col">
                                    <label for="inputEmail">Email address</label>
                                    <input id="inputEmail" name="email" type="email" class="form-control"
                                        placeholder="Your email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSubject">Subject</label>
                                <input id="inputSubject" name="subject" type="text" class="form-control"
                                    placeholder="Your subject">
                            </div>
                            <div class="form-group">
                                <label for="inputMessage">Message</label>
                                <textarea rows="6" name="message" id="inputMessage" type="text" class="form-control"
                                    placeholder="Your Message"></textarea>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-info">Send</button>
                        </form>
                        <br>
                    </div>
                    <div class="col-md-4">
                        <h6>Email</h6>
                        <p><a class="decor-none" href="mailto:mziyad195@gmail.com">mziyad195@gmail.com</a></p>
                        <hr>
                        <h6>Phone</h6>
                        <p><a class="decor-none" href="tel:+1123-456-7890">+6285889168150</a></p>
                        <hr>
                        <h6>Connect</h6>
                        <a class="decor-none" target="_blank" :href="''+profile.linkedinUrl"><i
                                class="bi bi-linkedin"></i>Linkedin</a><br>
                        <a class="decor-none" target="_blank" :href="''+profile.githubUrl"><i
                                class="bi bi-github"></i>Github</a><br>
                        <a class="decor-none" target="_blank" :href="''+profile.mediumUrl"><i
                                class="bi bi-medium"></i>Medium</a>

                        <hr>
                    </div>
                </div>

            </div>
        </Transition>
    </div>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted">{{copyrightText}}</span>
            </div>
        </footer>
    </div>
</div>

<script>

    const { createApp } = Vue

    createApp({
        data() {
            return {
                type: 'Home',
                activeColor: 'red',
                fontSize: 30,
                message: 'Hello Vue!',
                profile: {
                    username: '\@mziyadam',
                    name: 'Muhammad Ziyad Al Maududi',
                    bio: "Studious and innovative programmer. Interested in complex problems. Highly-inducive in analyzing things.",
                    phoneNumber: '+6285889168150',
                    email: 'mziyad195@gmail.com',
                    educations: [
                        {
                            name: 'Universitas Brawijaya',
                            description: "I'am an Undergraduate Informatics Engineering Student at Universitas Brawijaya Malang. focuses on the specialization of Media, Game and Mobile Technology.",
                            icon: 'universitas-brawijaya.png',
                        },
                        {
                            name: 'Bangkit Academy 2022',
                            description: "Bangkit is a unique career readiness program in technology led by Google. I'am a one of few distinction graduates of the mobile development learning path.",
                            icon: 'bangkit-academy.jpg',
                        }
                    ],
                    githubUrl: 'https://github.com/mziyadam',
                    linkedinUrl: 'https://www.linkedin.com/in/mziyadam',
                    mediumUrl: 'https://mziyadam.medium.com/',
                    aboutMe: "I am also interested in many things than programming, such as traveling, sports, music, watching movies, and games! I like basketball, jogging, badminton, and martial arts. I usually do sports such as basketball, jogging, or badminton if someone invites me hehe. It's an enjoyable sport for me! I also love music, especially pop, hip-hop and classical genres. However, I like the sad songs most, because love songs are for losers, said Lola Coca. I love watching movies, especially action and marvel movies. I want to play games too during my relaxation time. I love playing strategy games and MOBAs. I play games only when I need to refresh my brain after a long day!",
                },
                areasOfInterest: [
                    {
                        name: 'Mobile Apps Development',
                        icon: 'android-development.png',
                    },
                    {
                        name: 'Website Development',
                        icon: 'website-development.png',
                    },
                    {
                        name: 'Game Development',
                        icon: 'game-development.png',
                    },
                    {
                        name: 'Video Editing',
                        icon: 'video-editing.png',
                    },
                ],
                projects: [
                    {
                        id: 0,
                        title: 'An Educational MVVM Android Application to Read, Write, and Count',
                        role: 'Mobile Developer',
                        tasks: [
                            'Created and developed using following languages and technologies: Kotlin, REST API, LiveData, ViewModel, ViewBinding, Retrofit, GSON, OkHttp3, Glide, TextToSpeech, and AndroidDraw.',
                            'Developed by three roles, consisting of the Mobile Development, Cloud Computing, and Machine Learning.'
                        ],
                        images: [
                            {
                                id: 0,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/173225281-2d5faedb-905a-48cf-b62b-ca8d99a5985a.png'
                            },
                            {
                                id: 1,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/173225285-355623d8-69ca-4918-9857-34adb12de9be.png'
                            },
                            {
                                id: 2,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/173225286-9a3c72e9-843f-4f95-9ddc-f5f81fce758b.png'
                            },
                            {
                                id: 3,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/173225292-e3cb07c8-97fa-4f46-b943-22ead0d1e890.png'
                            },
                            {
                                id: 4,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/173225296-12bb3f8a-52db-48e1-a522-c10c0a61760d.png'
                            },
                            {
                                id: 5,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/173225298-71edcf5a-8628-46a8-8f29-de0a1f70765c.png'
                            },
                            {
                                id: 6,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/173225308-17878f81-03c4-4c9e-840c-d25321319a31.png'
                            }
                        ],
                        selectedImage: 0,
                        name: 'Calistung',
                        url: 'https://github.com/Chino-ai/Calistung',
                    },
                    {
                        id: 1,
                        title: 'A Clean Architecture Android Application for Listening Radio',
                        role: 'Mobile Developer',
                        tasks: [
                            'Created and developed using following languages and technologies: Kotlin, LiveData, ViewModel, Room, ViewBinding, Koin, Glide, Coroutines, Retrofit, GSON, OkHttp3, and ExoPlayer.',
                            'Provides additional features such as favorite, and player notification.'
                        ],
                        images: [
                            {
                                id: 0,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179384289-c37cf63c-db33-4c91-a530-a2931b04ac36.jpeg'
                            },
                            {
                                id: 1,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179384293-878108fd-9140-41a3-8304-ad4bd73a54c0.jpeg'
                            },
                            {
                                id: 2,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179384294-11f28c79-13b1-4db5-ad5e-93ce8dfaecf0.jpeg'
                            },
                            {
                                id: 3,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179384298-b7bfdd69-d641-44a8-bd2d-b6d5b605ce70.jpeg'
                            },
                            {
                                id: 4,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179384299-2b77ff2f-aac5-4470-828e-6566d8b078d3.jpeg'
                            }
                        ],
                        selectedImage: 0,
                        name: 'Zradio',
                        url: 'https://github.com/mziyadam/ZRadio',
                    },
                    {
                        id: 2,
                        title: 'A Simple Android Application to Record Expenses and Income',
                        role: 'Mobile Developer',
                        tasks: [
                            'Created and developed using following languages and technologies: Kotlin, LiveData, ViewModel, ViewBinding, FirebaseUI, Firebase Authentication, and Firestore Database.',
                            'Provides financial recording features such as adding expenses and income, editing, deleting, and filtering.'
                        ],
                        images: [
                            {
                                id: 0,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179383507-83a949e0-c8bb-4e52-9712-b7bb539fa9b1.jpeg'
                            },
                            {
                                id: 1,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179383270-ed5d395d-e321-468d-95e8-d5dfb3175298.jpeg'
                            },
                            {
                                id: 2,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179383247-a09a8ca5-12e1-443e-9573-62be51945fe1.jpeg'
                            },
                            {
                                id: 3,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179383308-b8810e88-e250-44e1-b588-552dcc13797a.jpeg'
                            },
                            {
                                id: 4,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179383319-47fe833d-7daf-49ae-8521-13be0efa6989.jpeg'
                            }
                        ],
                        selectedImage: 0,
                        name: 'Pencatat Uang',
                        url: 'https://github.com/mziyadam/Pencatat-Uang',
                    },
                    {
                        id: 3,
                        title: 'An MVVM Venture Android Application',
                        role: 'Mobile Developer',
                        tasks: [
                            'Provides venture features such as discussion, introduction generator, and motivation',
                            'Created and developed using following languages and technologies: Kotlin, LiveData, ViewModel, ViewBinding, FirebaseUI, Firebase Authentication, Firebase Storage, and Firestore Database.',
                            'Developed to make a realtime chat disscussion using Firebase.'
                        ],
                        images: [
                            {
                                id: 0,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179279253-a93f95f0-91b0-465a-ad3a-14855bbb0832.png'
                            },
                            {
                                id: 1,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179279845-15f2c5e9-5208-42ac-9b21-c7b589e84764.png'
                            },
                            {
                                id: 2,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179279920-9f88b4ae-6ec9-43d3-8eed-f70334eada96.png'
                            },
                            {
                                id: 3,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179280093-b58ad7da-23c7-4293-87c1-1eac2164caa2.png'
                            },
                            {
                                id: 4,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179280218-81f627cc-915b-44d3-bfd0-ca39b4331ecc.png'
                            }
                        ],
                        selectedImage: 0,
                        name: 'Work Bucket',
                        url: 'https://github.com/mziyadam/workbucket-psi/',
                    },
                    {
                        id: 4,
                        title: 'A Flutter News Application with Categories Selector',
                        role: 'Mobile Developer',
                        tasks: [
                            'Created and developed using following languages and technologies: Flutter, Dart, REST API, WebView, and HTTP.',
                            'Developed to make a news reader application separated by category.'
                        ],
                        images: [
                            {
                                id: 0,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179284046-610bba2a-f74a-4a58-8f82-834b2c351ffd.png'
                            },
                            {
                                id: 1,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179284077-cfe97702-55b3-4bc1-9b1b-fa25159f0a75.png'
                            },
                            {
                                id: 2,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179284150-d06f2d15-4d50-46ff-8544-ea5567cd251f.png'
                            },
                            {
                                id: 3,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/179284172-6801d631-536c-4422-8981-545b1258932a.png'
                            }
                        ],
                        selectedImage: 0,
                        name: 'Znews',
                        url: 'https://github.com/mziyadam/znews/',
                    },
                    {
                        id: 5,
                        title: 'A Simple Spaceship Game to Avoid Meteors and Planets',
                        role: 'Game Developer',
                        tasks: [
                            'Created and developed using following languages and technologies: C++, and OpenGL.',
                            'Developed to make a 2D OpenGL game with animation, music, and SFX.'
                        ],
                        images: [
                            {
                                id: 0,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181680378-8b3e6199-b967-4ff9-b951-42a756ece4e4.png'
                            },
                            {
                                id: 1,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181680400-b53c9938-7ee9-49cc-8ec6-402bac49bd55.png'
                            },
                            {
                                id: 2,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181680418-3250f8c3-7c86-4822-85c5-17b0bb09282e.png'
                            }
                        ],
                        selectedImage: 0,
                        name: 'SpaceCop Adventure',
                        url: 'https://github.com/mziyadam/SpaceCop-Adventure/',
                    },
                    {
                        id: 6,
                        title: 'Faculty of Economics the State University of Malang Education Service Website',
                        role: 'Web Developer',
                        tasks: [
                            'Created and developed using following languages and technologies: HTML, CSS, Javascript, Bootstrap, PHP, MySql, and Laravel.',
                            'Developed to make a website-based application to assist the Faculty of Economics, the State University of Malang in providing technology-based services'
                        ],
                        images: [
                            {
                                id: 0,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181682676-6245ca20-109c-40d9-bbb7-6396bd36dd6a.png'
                            },
                            {
                                id: 1,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181682848-c89e93de-f3ec-4f03-8cc4-8dbd01e3e69e.png'
                            },
                            {
                                id: 2,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181682719-53ff7e8e-7e45-4a59-b02c-3199efab7410.png'
                            }
                        ],
                        selectedImage: 0,
                        name: 'Rumah Jawara Kampus Merdeka EKP Innovation Center (Jaka Kece)',
                        url: 'http://jakakece.ekp.fe.um.ac.id/home',
                    },
                    {
                        id: 7,
                        title: 'Cost Booking Website',
                        role: 'Web Developer',
                        tasks: [
                            'Created and developed using following languages and technologies: HTML, CSS, Javascript, Bootstrap, PHP, and MySql.',
                            "Developed to make a cost booking website for our brand new startup called 'Ruangkos'."
                        ],
                        images: [
                            {
                                id: 0,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181723013-cba13471-c81c-411d-b8de-27b596eb1da6.png'
                            },
                            {
                                id: 1,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181723060-915313e8-cd4a-4116-a689-5d55b4116381.png'
                            },
                            {
                                id: 2,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181723143-db80a333-86c3-4b99-be70-729beda548f3.png'
                            },
                            {
                                id: 3,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181723221-4c5ae966-7572-46ea-9015-31afa1a1b66e.png'
                            },
                            {
                                id: 4,
                                imageUrl: 'https://user-images.githubusercontent.com/64635497/181723345-8f763f59-0cab-4e5b-b970-79a1f928c692.png'
                            }
                        ],
                        selectedImage: 0,
                        name: 'Ruangkos',
                        url: 'https://ruangkos.com/',
                    },
                ],
                copyrightText: 'Muhammad Ziyad Al Maududi - 2022',
            }
        }
    }).mount('#app')
</script>

</html>